@import url("https://fonts.googleapis.com/css?family=Comfortaa|Righteous|font-effect-neon");

body {
  background: url(https://articulate-heroes.s3.amazonaws.com/uploads/rte/bvpafzox_SpiralNotebook_Center.png);
  background-position: center;
  margin: 0;
  font-family: "Comfortaa", cursive;
}

h1 {
  font-family: "Righteous", cursive;
  background: rgb(5, 8, 192);
  margin: 0;
  margin-bottom: 0.5em;
  padding: 1em;
  text-align: center;
}

a {
  color: rgb(10, 53, 247);
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  font-size: 1.25em;
}

a:hover {
  color: rgb(8, 8, 230);
}

li {
  list-style: none;
}

li a {
  color: rgb(0, 0, 0);
}

input[type="text"] {
  padding: 0.3em;
}

input[type="submit"] {
  padding: 0.3em;
  color: rgb(184, 99, 14);
  background: rgb(23, 1, 214);
  font-size: 1em;
  border-radius: 10%;
}
